@using DrugStore4.Models
@model CreateAdModel
@{
    DateTime date = DateTime.Now;
    int year = date.Year;
    string[] monthArr = { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" };
}

<div class="ad center">
    <h1 class="ad-title">Описание лекарственного препарата</h1>
    <h2 class="ad-subtitle">Заполните поля</h2>
    <div class="wrapper">
        <div class="ad-input">
            Название
            <input type="text" name="Title">
        </div>
        <label for="" class="ad-select">
            Форма выпуска
            <select name="Type" id="">
                @foreach(var element in Model.typeAd)
                {
                    <option name="" value='@element.Id'>@element.Name</option>
                }
            </select>
        </label>
        <label for="" class="ad-select">
            Категория
            <select name="Category" id="">
                @foreach(var element in Model.categoryAd)
                {
                    <option name="" value="@element.Id">@element.Name</option>
                }
            </select>
        </label>
        <label for="" class="ad-input">
            Дозировка
            <input name="Dose" type="text">
        </label>
        <label for="" class="ad-input">
            Оставшееся количество
            <input name="Amount" type="text">
        </label>
        <label for="" class="ad-select">
            Срок годности
            <select name="Month" id="">
                @for (int i = 0; i < monthArr.Length; i++)
                {
                    <option name="" value="@(i+1)">@monthArr[i]</option>
                }
            </select>
            <select name="Year" id="">
                <option value="1">@year</option>
                <option value="2">@(year + 1)</option>
                <option value="3">@(year + 2)</option>
                <option value="4">@(year + 3)</option>
                <option value="5">@(year + 4)</option>
            </select>
        </label>
        <label for="" class="ad-input">
            Производитель
            <input type="text" name="Manufacturer">
        </label>
        <label for="" class="ad-textarea">
            Описание
            <textarea name="Description" id="" cols="30" rows="10"></textarea>
        </label>
    </div>
    <div class="ad-error"></div>
    <button class="ad-button" onclick="createAd()">Разместить</button>
</div>