@using DrugStore4.Models;
@model CommonCatalogModel;
@{
    string[] monthArr = { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" };
    Tuple<int, string>[] options = { new Tuple<int, string>(0, "Сначала новые"), new Tuple<int, string>(1, "Сначала старые") };
}

<div class="catalog center">
    @if (Model.SearchDrug == "")
    {
        <h1 class="catalog-title">Лекарственные средства</h1>
    }
    else
    {
        <h1 class="catalog-title">@Model.SearchDrug</h1>
    }
    <h2 class="catalog-subtitle">Популярные категории лекарств</h2>
    <div class="catalog-categories">
        <div class="catalog-categories__item">
            Боль, температура
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
        <div class="catalog-categories__item">
            Аллергия
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>
        </div>
        <div class="catalog-categories__item">
            Кожа
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>
        </div>
        <div class="catalog-categories__item">
            Сердечно-сосудистые
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
        <div class="catalog-categories__item">
            Желудок, кишечник, печень
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
        <div class="catalog-categories__item">
            Зубы и рот
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C4.45455 0 0 4.45455 0 10C0 15.5455 4.45455 20 10 20C15.5455 20 20 15.5455 20 10C20 4.45455 15.5455 0 10 0ZM15.7727 6.86364L8.5 14.4091C8.40909 14.5 8.31818 14.5455 8.18182 14.5455C8.04545 14.5455 7.90909 14.5 7.86364 14.4091L4.31818 10.5909L4.22727 10.5C4.13636 10.4091 4.09091 10.2727 4.09091 10.1818C4.09091 10.0909 4.13636 9.95455 4.22727 9.86364L4.86364 9.22727C5.04545 9.04545 5.31818 9.04545 5.5 9.22727L5.54545 9.27273L8.04545 11.9545C8.13636 12.0455 8.27273 12.0455 8.36364 11.9545L14.4545 5.63636H14.5C14.6818 5.45455 14.9545 5.45455 15.1364 5.63636L15.7727 6.27273C15.9545 6.40909 15.9545 6.68182 15.7727 6.86364Z" fill="#C9C9C9" />
                </svg>
            </div>

        </div>
    </div>
    <div class="catalog-sort">
        <select onchange="filterData(event)">
            <option data-search="@Model.SearchDrug" data-value="@options[Model.SelectedFilterId].Item1">@options[Model.SelectedFilterId].Item2</option>
            @for (int i = 0; i < options.Length; i++)
            {
                if (i != options[Model.SelectedFilterId].Item1)
                {
                    <option data-search="@Model.SearchDrug" data-value="@options[i].Item1">@options[i].Item2</option>
                }
            }
        </select>
    </div>
    <div class="catalog-content">
        <div class="catalog-offers">
            <div class="catalog-offers__block">
                @foreach(var element in Model.CatalogModels)
                {
                    <div data-id="@element.Id" class="catalog-offers__item">
                        <img src="/img/@element.PictureURL" alt="capsules foto">
                        <div class="catalog-offers__title">
                            <h1 class="catalog-offers__title__big">@element.Title</h1>
                            <h3 class="catalog-offers__title__small">@element.Category</h3>
                        </div>
                        <div class="catalog-offers__info">
                            <div>
                                <span class="catalog-offers__info__first">@element.Dose</span>
                                <span class="catalog-offers__info__second">Дозировка</span>
                            </div>
                            <div>
                                <span class="catalog-offers__info__first">@element.Amount</span>
                                <span class="catalog-offers__info__second">Количество</span>
                            </div>
                            <div>
                                <span class="catalog-offers__info__first">@monthArr[element.Month], @element.Year</span>
                                <span class="catalog-offers__info__second">Срок годности</span>
                            </div>
                        </div>
                        <button class="catalog-offers__button" onclick="goToDrugInfo(event)" type="submit">Подробнее</button>
                    </div>
                }
            </div>
            <div class="catalog-offers__line"></div>
            
            <div class="catalog-offers__pagination">
                @if (Model.AmountPage <= 6)
                {
                    @for(int i = 0; i < Model.AmountPage; i++)
                    {
                        <button type="button" onclick="changePage(event)">@(i + 1)</button>
                    }
                }
                else if (@Model.NumberPage > 5 && @Model.NumberPage < (Model.AmountPage - 4))
                {
                    <button type="button" onclick="changePage(event)">1</button>
                    <span> ... </span>
                    <button type="button" onclick="changePage(event)">@(Model.NumberPage - 1)</button>
                    <button type="button" onclick="changePage(event)">@Model.NumberPage</button>
                    <button type="button" onclick="changePage(event)">@(Model.NumberPage + 1)</button>
                    <span> ... </span>
                    <button type="button" onclick="changePage(event)">@Model.AmountPage</button>
                }
                else if (@Model.NumberPage <= 5)
                {
                    @for (int i = 0; i < 5; i++)
                    {
                        <button type="button" onclick="changePage(event)">@(i + 1)</button>
                    }
                    <span> ... </span>
                    <button type="button" onclick="changePage(event)">@Model.AmountPage</button>
                }
                else
                {
                    <button onclick="changePage(event)">1</button>
                    <span> ... </span>
                    @for (int i = (@Model.AmountPage - 4); i <= @Model.AmountPage; i++)
                    {
                        <button type="button" onclick="changePage(event)">@i</button>
                    }
                }
            </div>
        </div>
        <div class="catalog-filter">
            <div></div>
            <h2 class="catalog-filter__title">Категории</h2>
            @foreach(var type in Model.Types)
            {
                @if (Model.SelectedTypeId != type.Id)
                {
                    <a href="/Catalog/Index?page=1&type=@type.Id" class="catalog-filter__item">@type.Name</a>
                    
                }
                else
                {
                    <a href="/Catalog/Index?page=1" data-id=@type.Id class="catalog-filter__item__selected">@type.Name  &#10799;</a>
                   
                }                
            }
        </div>
    </div>
</div>