@using DrugStore4.Models;
@model CommonCatalogModel;
@{
    Tuple<int, string>[] options = { new Tuple<int, string>(0, "Сначала новые"), new Tuple<int, string>(1, "Сначала старые") };
}

<div class="catalog center">
    @if (Model.SearchDrug == "")
    {
        <h1 class="catalog-title">Лекарственные средства</h1>
    }
    else
    {
        <h1 class="catalog-title">@Model.SearchDrug</h1>
    }
    <div class="catalog-sort">
        <select onchange="filterData(event)">
            <option data-search="@Model.SearchDrug" data-value="@options[Model.SelectedFilterId].Item1">@options[Model.SelectedFilterId].Item2</option>
            @for (int i = 0; i < options.Length; i++)
            {
                if (i != options[Model.SelectedFilterId].Item1)
                {
                    <option data-search="@Model.SearchDrug" data-value="@options[i].Item1">@options[i].Item2</option>
                }
            }
        </select>
    </div>
    <div class="catalog-content">
        <div class="catalog-offers">
            <div class="catalog-offers__block">
                @if (Model.SearchDrug != "" && Model.CatalogModels.Count == 0)
                {
                    <div class="catalog-offers__block__notfound">
                        <div>По вашему запросу "@Model.SearchDrug" не найдено ни одного объявления.</div>
                        <a href="/Catalog/Index">Вернитесь в каталог.</a>
                    </div>                    
                }
                else
                {
                    @foreach (var element in Model.CatalogModels)
                    {
                        <div data-id="@element.Id" class="catalog-offers__item" onclick="goToDrugInfo(@element.Id)">
                            <img src="/img/@element.PictureURL" alt="capsules foto">
                            <div class="catalog-offers__title">
                                <h1 class="catalog-offers__title__big">@element.Title</h1>
                                <h3 class="catalog-offers__title__small">@element.Category</h3>
                            </div>
                            <div class="catalog-offers__info">
                                <div class="B">
                                    <span class="catalog-offers__info__first">@element.Dose</span>
                                    <span class="catalog-offers__info__second">Дозировка</span>
                                </div>
                                <div class="C">
                                    <span class="catalog-offers__info__first">@element.Amount</span>
                                    <span class="catalog-offers__info__second">Количество</span>
                                </div>
                                <div class="A">
                                    @if ((element.Month + 1) < 10)
                                    {
                                        var month = "0" + (@element.Month + 1);
                                        <span class="catalog-offers__info__first">@month.@element.Year</span>
                                    }
                                    else
                                    {
                                        <span class="catalog-offers__info__first">@(element.Month + 1).@element.Year</span>
                                    }
                                    <span class="catalog-offers__info__second">Годность</span>
                                </div>
                            </div>
                        </div>
                    }
                }               
            </div>
            
            @if (Model.AmountPage > 1)
            {
                <div class="catalog-offers__pagination">
                @if (Model.AmountPage <= 6 )
                {
                    @for(int i = 0; i < Model.AmountPage; i++)
                    {
                        @if ((i + 1) == Model.NumberPage)
                        {
                            <button type="button" style="color:#60B021">@(i + 1)</button>
                        }
                        else
                        {
                            <button type="button" onclick="changePage(event)">@(i + 1)</button>
                        }
                        
                    }
                }
                else if (@Model.NumberPage > 5 && @Model.NumberPage < (Model.AmountPage - 4))
                {
                    <button type="button" onclick="changePage(event)">1</button>
                    <span> ... </span>
                    <button type="button" onclick="changePage(event)">@(Model.NumberPage - 1)</button>
                    <button type="button" onclick="changePage(event)">@Model.NumberPage</button>
                    <button type="button" onclick="changePage(event)">@(Model.NumberPage + 1)</button>
                    <span> ... </span>
                    <button type="button" onclick="changePage(event)">@Model.AmountPage</button>
                }
                else if (@Model.NumberPage <= 5)
                {
                    @for (int i = 0; i < 5; i++)
                    {
                        <button type="button" onclick="changePage(event)">@(i + 1)</button>
                    }
                    <span> ... </span>
                    <button type="button" onclick="changePage(event)">@Model.AmountPage</button>
                }
                else
                {
                    <button onclick="changePage(event)">1</button>
                    <span> ... </span>
                    @for (int i = (@Model.AmountPage - 4); i <= @Model.AmountPage; i++)
                    {
                        <button type="button" onclick="changePage(event)">@i</button>
                    }
                }
            </div>
            }
            
        </div>
        <div class="catalog-filter">
            <div></div>
            <h2 class="catalog-filter__title">Категории</h2>
            @foreach(var type in Model.Types)
            {
                @if (Model.SelectedTypeId != type.Id)
                {
                    <a href="/Catalog/Index?page=1&type=@type.Id" class="catalog-filter__item">@type.Name</a>
                    
                }
                else
                {
                    <a href="/Catalog/Index?page=1" data-id=@type.Id class="catalog-filter__item__selected">@type.Name  &#10799;</a>
                   
                }                
            }
        </div>
    </div>
</div>